<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="portfolio.projects.mrkimkim.ai_interview">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".NetworkModule.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivityChooseQuestion" />
        <activity android:name=".InterviewModule.UploadVideo" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5207d8f5691153fb22fb9e7950e4e9c1" />

        <activity android:name=".ActivityUserInfo" />
        <activity android:name=".ActivityInterviewResult" />

        <service
            android:name=".NetworkModule.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".NetworkModule.MyFireBaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ActivityChooseCategory" />
        <activity android:name=".TestActivity" />
        <activity android:name=".InterviewModule.StartInterviewActivity" />
        <activity android:name=".ActivityInterviewVideo" />
        <activity android:name=".ActivityInterviewReport" android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>